<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        The current user is {{ current_user.name }}
    </h1> 
    <div>
        {% if user_data %}
        <h2>
            The users id is 
        </h2>
        <ul>
            {% for field, value in user_data %}
            <li>
                {{ field }} : {{ value }}
            </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('admin.index') }}">
            Go to admin area
        </a>
        <br>
        <a href="{{ url_for('logout') }}">
            Logout
        </a>
        {% endif %}
        {% if not user_data %}
        <a href="{{ url_for('login') }}">
            Login
        </a>
        <br>
        <a href="{{ url_for('register_view') }}">
            Register 
        </a>
        {% endif %}
    </div>
</body>
</html>